.phone{
    border: 1px solid rgba(128, 128, 128, 0.815);
    border-radius: 7px;
    width: 400px;
    margin-bottom: 40px;
}

.texts{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: black;
}

.numbers{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 9px;
    color: white;
    border-radius: 14px;
    background-color: rgb(0, 119, 255);
}

.home{
    height: 30px;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.15s;
}

.home:hover{
    background-color: rgb(222, 222, 222);
}

.notifications{
    height: 30px;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.notifications:hover{
    background-color: rgb(222, 222, 222);
}

.messages{
    height: 30px;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.messages:hover{
    background-color: rgb(222, 222, 222);
}

.header{
    background-color: rgba(119, 0, 255, 0.788);
    height: 50px;
    max-width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.left-section{
    padding-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.left-section a{
    text-decoration: none;
    color: white
}

.search-bar{
    width: 300px;
    padding: 5px 15px;
    border: none;
    border-radius: 50px;
}

.right-section{
    padding-right: 8px;
}

.Download{
    padding: 5px 8px;
    background-color: rgba(139, 37, 255, 0);
    color: white;
    border: 1px solid white;
    cursor: pointer;
    transition: background-color 0.15s;
}

.Download:hover{
    background-color: rgba(119, 0, 255, 0.788);
}

.Download:active{
    opacity: 0.5;
}

.profiles{
    width: 360px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profile-pic{
    padding: 15px;
    width: 50px;
}

img{
    width: 55px;
    height: 55px;
    object-fit: cover;
    object-position: top;
    border-radius: 100px;
}

p{
    margin-top: 0px;
    margin-bottom: 6px;
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.names{
    font-weight: bold;
    color: black;
}

.type{
    color: rgb(95, 95, 95);
}

.Popular{
    color: rgb(95, 95, 95);
}

.text{
    flex: 1;
}

.follow{
    width: 100px;
}

.buttons{
    background-color: rgb(0, 132, 255);
    color: white;
    font-size: 14px;
    border: none;
    padding: 6px 11px;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.15s;
}

.buttons:hover{
    opacity: 0.8;
}

.buttons:active{
    opacity: 0.5;
}